@{
    ViewBag.Title = "Sobre Nosotros";
}
<h2 class="p-5 text-center">@ViewBag.Title</h2>
@*<h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@
@*<div class="pt-5 pb-3 text-center">
    <h2 class="fw-bold">Quiénes Somos</h2>
</div>*@
<div class="row p-4 text-center mb-5 fondo-transparente" >
    <div class="col-lg-5 col-md-12 col-sm-12 my-auto mx-auto">
        <img src="https://media.portaventuraworld.com/mediaManager/image/2faa8486ebdbac1742a3df73433c143b83104f86fd6fe67c01339f6699b22528.jpg?tx=ar_0.79,c_crop/w_450,h_570,c_fit"
             alt="" class="img-fluid">
    </div>
    <div class="py-5 col-lg-7 col-md-12 col-sm-12 mx-auto " >
        <div class="">
            <h3>¡Bienvenido al Hotel Bengalí!</h3>
            <p>En Bengalí, nos enorgullece ofrecer una experiencia excepcional a nuestros huéspedes, combinando lujo, comodidad y hospitalidad incomparable. Nos esforzamos por ser el destino ideal tanto para viajeros de negocios como para aquellos que buscan un escape relajante.</p>
            <h3>Nuestra Historia</h3>
            <p>Desde nuestra apertura en 2022, hemos dedicado cada día a brindar un servicio de clase mundial a quienes eligen hospedarse con nosotros. Hotel Bengalí tiene sus raíces en la rica herencia de la región, y hemos evolucionado con el tiempo para ofrecer instalaciones modernas y un servicio personalizado.</p>
            <h3>Nuestra Filosofía</h3>
            <p>En el corazón de nuestra filosofía se encuentra el compromiso con la excelencia. Nos esforzamos por superar las expectativas de nuestros huéspedes en cada nivel, desde la comodidad de nuestras habitaciones hasta la calidad de nuestra gastronomía y la atención de nuestro personal. Creemos que cada detalle cuenta, y trabajamos incansablemente para que su estadía sea inolvidable.</p>
            <h3>Nuestras Instalaciones</h3>
            <ul>
                <li class="pb-2">
                    <b> Habitaciones de Lujo:</b> Experimente la elegancia en cada rincón de nuestras habitaciones, diseñadas para brindarle el máximo confort y privacidad.
                </li>
                <li class="pb-2">
                    <b>Gastronomía Exquisita:</b> Nuestro restaurante le lleva a un viaje culinario con platos preparados por chefs expertos, utilizando ingredientes frescos y locales.
                </li>
                <li class="pb-2">
                    <b>Espacios para Eventos:</b> Ya sea una reunión de negocios o una celebración especial, nuestros espacios para eventos ofrecen el entorno perfecto para cada ocasión.
                </li>
            </ul>
            <h3>Compromiso con la Sostenibilidad</h3>
            <p>En Bengalí, nos preocupamos por el medio ambiente y nos esforzamos por minimizar nuestro impacto ambiental. Implementamos prácticas sostenibles en nuestra operación diaria y apoyamos iniciativas locales que promueven la conservación y la responsabilidad social.</p>
        </div>
     </div>
</div>
