@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>

    <p>Use this area to provide additional information.</p>*@
@*<div class="pt-5 pb-3 text-center">
    <h2 class="fw-bold">Quiénes Somos</h2>
</div>*@
<div class="row p-4 text-center mb-5" style="background-color: rgba(197, 216, 216, 0.5);">
    <div class="col-lg-5 col-md-12 col-sm-12 my-auto mx-auto">
        <img src="https://4.bp.blogspot.com/-OCo7GALup64/WNWYMA-7MJI/AAAAAAAAnMc/t-Uj2lU7tn8PjTPIbjw4U5pSNRq9EftHACLcB/s1600/Furor%2Bpor%2Blos%2Bempleados%2Bde%2Buna%2Blibrer%25C3%25ADa%2Bque%2Bjuegan%2Bcon%2Blas%2Bfotos%2Bde%2Bportada%2Bde%2Blos%2Blibros-1.jpg"
             alt="" class="img-fluid">
    </div>
    <div class="py-5 col-lg-7 col-md-12 col-sm-12 mx-auto " style="background-color: rgba(255, 255, 255, 0.882)">
        <h4 class="fw-bold pb-5">Somos una distribuidora con un nuevo concepto en distribución editorial.</h4>
        <p>
            Distribuimos los catálogos de: <br><br> <b>Catapulta editores (Argentina):</b> libros para todas las edades.<br> <b>Auzou (Fracia):</b>un mundo de lectura y aprendizaje.<br><b>Yoyo (Bélgica):</b> libros para los más chiquitos de 0
            a 8 años. <br><b>
                Quarto
                (Inglaterra):
            </b>líder en la edición de libros ilustrados de no ficción.
        </p>
        <div class="my-5">
            <h5 class="fw-bold">¡Los invitamos a disfrutar de todos nuestros libros!</h5>
        </div>
    </div>
</div>
