@{
    ViewBag.Title = "Contacto";
}
<div>
    <h2 class="p-5 text-center">@ViewBag.Title</h2>
    @*<h3>@ViewBag.Message</h3>*@
    </div>

    <div class="fondo-transparente px-5">

        <div class="row mb-5 p-5" >
            <div class="row col-12 m-auto" style="background-color: rgba(255, 255, 255, 0.882)">
                <div class="col-lg-6 col-sm-12 mb-2 mb-sm-0">
                    <div class="mt-3 px-5 text-center">
                        <h4 class="py-4">Formulario de contacto</h4>
                        <p class="pb-4">¿No encontraste lo que buscás en Preguntas frecuentes? <br> Dejanos tu mensaje para que podamos contactarnos con vos. </p>
                    </div>
                    <form class="row px-5 text-start pb-4">
                        <div class="row">
                            <label for="txtNombre" class="form-label">Nombre</label>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <input type="text" class="form-control" id="txtNombre" placeholder="Ingrese su nombre">
                            </div>
                        </div>
                        <div class="row">

                            <label for="txtApellido" class="form-label">Apellido</label>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <input type="text" class="form-control" id="txtApellido" placeholder="Ingrese su apellido">
                            </div>
                        </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <label for="txtDni" class="form-label">DNI</label>
                                <br />
                                <input type="number" class="form-control" id="txtDni" placeholder="Ingrese su DNI">
                            </div>
                            <div class="col-lg-6 col-sm-12 mb-3">
                                <label for="txtEmail" class="form-label">Email address</label>
                                <br />
                                <input type="email" class="form-control" id="txtEmail" placeholder="Ingrese su e-mail">
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label for="txtTelefono" class="form-label">Teléfono</label>
                                <br />
                                <input type="number" class="form-control" id="txtTelefono" placeholder="Ingrese su teléfono">
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label for="txtAsunto" class="form-label">Asunto</label>
                                <br />
                                <input type="text" class="form-control" id="txtAsunto" placeholder="Ingrese su asunto">
                            </div>
                            <div class="col-12 mb-3">
                                <label for="txtMensaje" class="form-label">Mensaje</label>
                                <br />
                                <textarea class="form-control" id="txtMensaje" rows="3" placeholder="Ingrese su mensaje"></textarea>
                            </div>
                            <div class="mb-3 col-12 d-grid gap-2">
                                <button type="button" class="btn btn-success" onclick="enviarmje()">Enviar</button>
                            </div>
                    </form>
                </div>
                @*<div class="row col-lg-1 col-sm-12 fondo p-0 m-0">
                    <div class="col-12 fondo-transparente"></div>
                </div>*@
                <div class="col-lg-3 col-sm-12 py-lg-5 mx-auto my-lg-auto mt-sm-4">
                    <div class="mt-3 mt-sm-0 pb-5 text-center">
                        <h4 class="py-4">Otras formas de <br> contactarte con nosotros</h4>
                        <h5 class="pb-4">Atención al cliente</h5>
                        <p><i class="fa-solid fa-envelope"></i>&nbsp;&nbsp;<b>Email:</b>&nbsp;<a class="redsoc" href="mailto:vlibros@gmail.com">contactate@vlibros.com</p></a>
                        <br>
                        <h5 class="pb-4">Redes Sociales</h5>
                        <div class="mx-auto">
                            <a class="redsoc" href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter-square fa-2x"></i></a>&nbsp;&nbsp;
                            <a class="redsoc" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-square fa-2x"></i></a>&nbsp;&nbsp;
                            <a class="redsoc" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram-square fa-2x"></i></a>&nbsp;&nbsp;
                            <a class="redsoc" href="https://ar.pinterest.com/" target="_blank"><i class="fa-brands fa-pinterest-square fa-2x"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        @*<address>
                One Microsoft Way<br />
                Redmond, WA 98052-6399<br />
                <abbr title="Phone">P:</abbr>
                425.555.0100
            </address>

            <address>
                <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
                <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
            </address>*@
    </div>
